@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-zinc-200, currentColor);
  }
}

:root {
  --background: #000000;
  --foreground: #ededed;
  caret-color: var(--foreground);
}

button {
  cursor: pointer;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  @apply px-4 py-2 text-center rounded-lg border text-white border-white/30 hover:border-white hover:bg-white/10 transition-colors duration-400;
}

.btn-primary {
  @apply bg-white text-black hover:bg-white/90;
}

.btn-grow {
  @apply transition-transform duration-200 hover:scale-110;
}

.btn-ghost {
  @apply px-4 py-2 text-center rounded-lg text-white hover:bg-white/10 transition-colors;
}

.btn-ghost-light {
  @apply px-4 py-2 text-center rounded-lg text-zinc-600 hover:text-white hover:bg-white/10 transition-colors;
}

.btn-ghost-red {
  @apply px-4 py-2 text-center rounded-lg text-red-300 hover:text-red-400 hover:bg-red-200/10 transition-colors;
}

.btn-sm {
  @apply px-2 py-1 text-sm;
}

.btn-lg {
  @apply text-lg px-6 py-3;
}

.btn-xl {
  @apply text-xl px-6 py-3;
}

.btn-full {
  @apply w-full px-6 py-3 text-xl;
}

.btn-placeholder {
  @apply px-4 py-2 text-center rounded-lg text-zinc-500 hover:text-zinc-300 border border-zinc-500 hover:border-zinc-300 hover:bg-zinc-900 border-dashed transition-colors;
}

.input {
  @apply w-full p-3 border border-zinc-600 focus:ring-white text-white placeholder:text-zinc-500 focus:bg-white/10 active:bg-white/10 rounded-lg focus:ring-2 focus:border-transparent bg-transparent;
}

#tetractys-input:disabled {
  @apply bg-zinc-900 border-zinc-800 resize-none;
}
